.ai-modal-divider {
    margin: 12px 0 !important;
}

.ai-modal-controls-container {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    margin-bottom: 12px;
}

.ai-modal-model-selector-wrapper {
    flex: 1;
}

.ai-modal-button-success {
    background-color: var(--app-color-success);
    color: var(--app-color-bg-surface);
    border-color: var(--app-color-success);
}

.ai-modal-button-success:hover, .ai-modal-button-success:focus {
    background-color: var(--app-color-success-active);
    color: var(--app-color-bg-surface) !important;
    border-color: var(--app-color-success-active) !important;
}

.ai-modal-button-danger {
    background-color: var(--app-color-error);
    color: var(--app-color-bg-surface);
    border-color: var(--app-color-error);
}

.ai-modal-button-danger:hover, .ai-modal-button-danger:focus {
    background-color: var(--app-color-error-active);
    color: var(--app-color-bg-surface) !important;
    border-color: var(--app-color-error-active) !important;
}